*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
.colores{
color: #666666;
color: #908FB9;
color: #878787;
}
body{
    font-family: 'Source Code Pro';
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table, tr, td {
    border-collapse: collapse;
}


.user-div{
    display: flex;
    justify-content: center;
    background-color: #878787;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px 0;
}
.user-form{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 0 50px;
}
.user-form > *{
    min-width: 300px;
    min-height: 30px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
.user-form > textarea{
    resize: vertical;
    min-height: 80px;
}
.adjuntar{
    min-width: 100px;
}

.user-form > div{
    display: flex;
    justify-content: center;

}
.enviar-button{
    min-width: 150px;
    min-height: 30px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: #908FB9;
}

.table-div{
    /* display: flex; */
    /* justify-content: center; */
    background-color: #878787;
    /* max-width: 400px; */
    border-radius: 5px;
    padding: 25px;
}



.tkt-div{
    background-color: #878787;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}
.tkt-head{
    grid-column: 1;
    font-weight: 700;
}
.tkt-data{
    grid-column: 2;
}
.tkt-data-txt{
    border-radius: 5px;
    resize: vertical;
    border-color: none;
    padding: 5px;
}
.btn-div{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.btn-div > *{
    margin: 5px;
    padding: 5px;
    
}



/*_______________________________________________________________*/
.admin-div{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-div th{
    padding-right: 50px;
}
.admin-table td {
    border: 1px solid black;
    padding: 3px;
    max-width: 50vw;
}
.admin-table tr{
    line-height: 20px;
}

.table-body tr{
    text-align: center;
    line-height: 30px;
    border: 1px solid #ffffff;
}
.table-body tr td{
    overflow: hidden;
    min-width: 200px;
}
.botones{
    margin: 20px;

}
.back *{
    color: black;
}
.estado{
    text-transform:uppercase;
    font-weight: 600;
}


#abrir_form, #resolver_form, #anular_form{
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    color: black;
    /* max-height: 200px; */
    max-width: 80vw;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}